
<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Liên hệ</h2>
                    <h3 class="section-subheading text-muted">Cảm ơn bạn đã quan tâm đến chúng tôi. Nếu có bất kỳ thắc mắc, hãy gọi đến số hotline: 0983068870 (Mr.Thông) hoặc để lại lời nhắn ở bên dưới!</h3>
                </div>
            </div>
            <div id="disqus_thread"></div>
<script>

<div class="fb-comments" data-href="https://biahoithongthuy.info/" data-width="" data-numposts="5"></div>
        </div>
    </section>