  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fab fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><div class="padding"><div class="html_div"><div class="html_div_padding"><div class="html_content"><div class="chu_2"><i class="fas fa-phone-alt"></i> Hotline hỗ trợ khách hàng</div><div class="chu_3">0983 068 870</div></div></div></div></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
