<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
					
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Dịch vụ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Giới thiệu</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Đội ngũ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Liên hệ</a>
                    </li>
					<li>
					<div class="padding"><div class="html_div"><div class="html_div_padding"><div class="html_content"><i class="fas fa-phone-alt" style="color:white;"></i><div class="chu_2" style="color:white;">Hotline hỗ trợ khách hàng</div><div class="chu_3" style="color:white;">0983 068 870</div><div class="chu_4"><script id="autoAdsMaxLead-widget-script" src="https://cdn.autoads.asia/scripts/autoads-maxlead-widget.js?business_id=3eb749ec8ee341b297c6807f0be235f7" type="text/javascript" charset="UTF-8" async=""></script></div></div></div></div></div>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Nhà phân phối bia Hà Nội</div>
                <div class="intro-heading">CÓ UY TÍN TẠI HÀ NAM</div>
                <a href="#services" class="page-scroll btn btn-xl">Xem thêm</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

