<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dịch vụ</h2>
                    <h3 class="section-subheading text-muted">Sản phẩm được phân phối đáp ứng đầy đủ 3 tiêu chí:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-hand-holding-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dịch vụ đột phá</h4>
                    <p class="text-muted">Chúng tôi cam kết cung cấp những sản phẩm Bia Hơi Hà Nội chất lượng đến các đại lý với giá thành rẻ nhất thị trường kèm nhiều chính sách ưu đãi tốt..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shipping-fast fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Giao hàng nhanh chóng</h4>
                    <p class="text-muted">Chỉ cần một cuộc điện thoại, chúng tôi sẽ đưa nhân viên đến tận nơi bạn ở để phục vụ.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Giá rẻ nhất thị trường</h4>
                    <p class="text-muted">Giá thành luôn là điều ưu tiên hàng đầu của chúng tôi. Với giá cả phải chăng, bạn không phải lo về chất lượng phục vụ của chúng tôi.</p>
                </div>
            </div>
        </div>
    </section>