<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Đội ngũ</h2>
                    <h3 class="section-subheading text-muted">Đội ngũ tuyệt vời của chúng tôi.</h3>
                </div>
            </div>
            <div class="row">
                
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="" style="
    width: 291px;
">
                        <h4>Dương Tùng Anh</h4>
                        <p class="text-muted">Phụ trách thiết kế</p>
                        <ul class="list-inline social-buttons">
                            
                            <li>
                                <a href="">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            
                            <li>
                                <a href="">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            
                            <li>
                                <a href="">
                                    <i class="fab fa-stack-overflow"></i>
                                </a>
                            </li>
                            

                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Dương Văn Thông</h4>
                        <p class="text-muted">Phụ trách phát triển thị trường</p>
                        <ul class="list-inline social-buttons">
                            
                            <li>
                                <a href="">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            
                            <li>
                                <a href="">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            
                            <li>
                                <a href="">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            

                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Nguyễn Thị Bích Thuỷ</h4>
                        <p class="text-muted">Hậu phương vững chắc của chúng tôi</p>
                        <ul class="list-inline social-buttons">
                            
                            <li>
                                <a href="">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            
                            <li>
                                <a href="">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            
                            <li>
                                <a href="">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Ngoài ra chúng tôi còn có một vài nhân viên bán hàng chất lượng khác...</p>
                </div>
            </div>
        </div>
    </section>