<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=517946088754620&autoLogAppEvents=1"></script>
    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
<script>
    window.location.href = "https://biahoithongthuy.com";
</script>
    </body>
</html>
